body{
  margin: 1%;
  background-color: #EBC3C4;
  border-radius: 25px;
  padding: 1%;
}

.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.title_name{
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #818A6D;
  text-align: center;
  padding: 1%;
  font-family: "Lucida Handwriting";
}

.page {
  float: right;
}

.page a{
  color: #818A6D;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  display: block;
  padding: 1%;
  font-family: "Lucida Console";
  border-radius: 25px;
}

.page a:hover{
  background-color: #ECB3BC;
}

.active{
  background-color: #ECB3BC;
}

html {
  background-color: #EFD9D9;
}

.homep{
  border-radius: 25px;
  font-size: 24px;
  margin: 1%;
  font-family: "Lucida Console";
  color: #AD5F77;
  text-align: center;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 75%;
}

.description{
  margin-top: 100px;
  margin-bottom: 160px;
  color: #AD5F77;
  font-size: 24px;
  font-family: "Lucida Console";
}

img{
  float: left;
  border-radius: 25px;
  width: 400px;
  height: 400px;
  margin: 20px;
}

h1{
  padding-top: 50px;
  font-size: 50px;
  font-variant: small-caps;
  color: #AD5F77;
}
